# Folders
############
**/[dD]ata/**
**/[fF]es-2.9.3-Source/**
**/[fF]es2014/**
**/[eE][rR][aA]5 Surge/**
**/[pP]lanet[sS]at/**

# File types
*.ipynb
*.py
*.pyc
*.mat
*.tif
*.png
*.PNG
*.jpeg
*.mp4
*.jpg
*.pkl
*.kml
*.txt
*.geojson
*checkpoint.ipynb
*.csv
*.xml
/deprecated
